alembic
email-validator
fastapi
pydantic-settings
pwdlib[argon2]
psycopg[binary]
PyJWT
SQLAlchemy
tensorflow
Pillow
joblib
pandas
scikit-learn==1.6.1
python-multipart
openpyxl
reportlab
uvicorn[standard]
